#change-sheet-form input {width:80%;}

.template {
	display:none;
}

.sidebar-nav, .sidebar-nav ul {
	list-style: none;
}

.accordion-toggle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
}

.accordion-toggle .tri {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	height: 0;
	width: 0;
	display: block;
	border-bottom: none;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 10px solid #fff;
	transition: all 0.5s ease-in-out;
}

.accordion-toggle.open .tri {
	transform: rotate(180deg);
	border-top-color: #F5F114;
}

.accordion-toggle .visHid {
	height: 0;
	width: 0;
	display: block;
	overflow: hidden;
	color: transparent;
}

#sidebar-wrapper .h1 {
	color: #999;
	padding-left: 20px;
}
.sidebar-nav li a.navLink.active {
    background-color: #F5F114;
    color: black;
	font-weight:bold;
}
#steps div.col-md-3 {
	min-height:145px;
}

#steps div.col-md-3 .inner {
	cursor:pointer;
	padding: 2rem;
    border: 2px solid black;
	font-size:larger;
	font-weight:bold;
	min-height:125px;
}

#steps div.col-md-3 .inner:hover {
	background-color: navy;
	color: whitesmoke;
	transition: all 0.3s;
}

.bottom {
	position: fixed;
    bottom: 20px;
}